altgraph==0.17.4
macholib==1.16.3
packaging==25.0
pillow==11.2.1
pyinstaller==6.14.0
pyinstaller-hooks-contrib==2025.4
streamlit==1.28.0
streamlit-audio-recorder==0.1.4
streamlit-ace==0.2.0
streamlit-option-menu==0.3.2
streamlit-plotly-events==0.0.6
streamlit-drawable-canvas==0.12.0
streamlit-extras==0.2.0
streamlit-lottie==0.0.13
streamlit-logger==0.1.0
streamlit-mathjax==0.1.0
streamlit-multipage==0.1.2
streamlit-pandas-profiling==0.1.0
streamlit-qrcode==0.1.0
pydub==0.25.1